.counts {
  margin: 12px 0;
  color: var(--text-color-secondary);
}

.inputContainer {
  margin-bottom: 20px;
  text-align: start;
}

@media screen and (min-width: 720px) {
  .inputContainer {
    text-align: center;
  }
}
